.about-shop {
  padding-top: 31px;
  padding-bottom: 27px;
}

.about-shop__title {
  margin-bottom: 0;
}

.about-shop__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-shop__item {
  padding-top: 83px;
  font-weight: 700;
  line-height: 20px;
  color: $color-default-black;
}

@media (min-width: $tablet-width) {
  .about-shop {
    padding-top: 56px;
    padding-bottom: 83px;
  }

  .about-shop__list {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .about-shop__item {
    max-width: 325px;
    font-size: 20px;
    line-height: 22px;
  }
}

