.button {
  margin: 0;
  padding: 16px;
  width: 260px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;

  &--primary {
    color: $color-charcoal;
    border: 2px solid $color-charcoal;
  }

  &--secondary {
    color: $color-default-white;
    background-color: $color-downy;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 17px;
  }
}
