.footer {
  margin-top: auto;
  padding-top: 25px;
  padding-bottom: 23px;
  background-color: $color-white-smoke;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.copyright__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: $color-default-black;
}
