.form-header {
  padding-top: 74px;
  padding-bottom: 74px;
  background-color: $color-white-smoke;
}

.form-header__title {
  margin: 0;
  font-weight: 700;
  font-size: 27px;
  color: $color-default-black;
  text-align: center;
}
