.form {
  @media (min-width: $tablet-width) {
    margin: 0 -50px;
  }
}

.form__point {
  margin: 0;
  padding: 0;
  border: none;
}

.form__point--darken {
  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: 100%;
      background-color: $color-white-smoke;
      z-index: -1;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.form__point-wrapper {
  @media (min-width: $tablet-width) {
    padding: 50px;
    display: grid;
    grid-template-columns: 168px auto;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 97px;
    grid-template-columns: 114px auto;
  }

  &--type {
    position: relative;
  }

  &--color {
    position: relative;

    @media (min-width: $tablet-width) {
      padding-bottom: 0;
    }
  }

  &--initials {
    position: relative;

    @media (min-width: $tablet-width) {
      padding-top: 67px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 68px;
    }
  }

  &--tel {
    position: relative;

    @media (min-width: $tablet-width) {
      padding-top: 65px;
      padding-bottom: 12px;
    }
  }

  &--email {
    position: relative;

    @media (min-width: $tablet-width) {
      padding-top: 12px;
    }
  }

  &--additionally {
    position: relative;

    @media (min-width: $tablet-width) {
      padding-bottom: 53px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 69px;
    }
  }
}

.form__title {
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $color-downy;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 100px;
  }

  &--type,
  &--color,
  &--initials,
  &--tel,
  &--email,
  &--additionally {
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: 0;
      left: 60px;
      width: auto;
      height: 1px;
      background-color: $color-downy;
    }
  }

  &--additionally {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &--type {
    padding: 30px 0 31px 0;
  }

  &--color {
    padding: 25px 0 33px 0;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0 31px;
      margin-bottom: -7px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--initials {
    padding: 29px 0 35px 0;
  }
}

.form__item {
  &--type {
    margin-bottom: 24px;
    padding-left: 61px;
    position: relative;

    @media (min-width: $tablet-width) {
      margin-bottom: 58px;
    }
  }

  &--color {
    margin-bottom: 23px;
    padding-left: 61px;
    position: relative;

    @media (min-width: $tablet-width) {
      margin-bottom: 57px;
      width: 208px;
    }
  }

  &--initials {
    margin-bottom: 22px;
  }

  &--name,
  &--surname,
  &--patronymic {
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      margin-bottom: 59px;
    }
  }

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.form__control-mark {
  position: absolute;
  left: 0;
  border: 2px solid $color-charcoal;

  &:hover {
    border: 2px solid $color-downy;
  }

  &:active {
    border: 2px solid rgba($color-default-black, 30%);
  }

  &--radio {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    top: -5px;
  }

  &--checkbox {
    width: 38px;
    height: 38px;
    top: -4px;
  }
}

.form__control-input[type="radio"]:checked + .form__control-mark--radio::before {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 18px;
  height: 18px;
  background-color: $color-downy;
  border-radius: 50%;
  content: "";
}

.form__control-input[type="checkbox"]:checked + .form__control-mark--checkbox::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 3px;
  width: 26px;
  height: 21px;
  background-image: url("../img/control/tick.svg");
  background-repeat: no-repeat;
  background-position: 3px -20px;
  background-size: 23px 65px;
}

.form__initials-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.form__initials-input {
  font-family: inherit;

  @media (min-width: $tablet-width) {
    max-width: 573px;
  }

  &--name {
    @media (min-width: $tablet-width) {
      max-width: 626px;
    }
  }
}

.form__name {
  font-weight: 700;
  line-height: 18px;
  color: $color-default-black;

  @media (min-width: $tablet-width) {
    font-size: 19px;

    &--name {
      margin-right: 24px;
    }

    &--surname {
      margin-right: 25px;
    }

    &--patronymic {
      margin-right: 27px;
    }
  }
}

.form__initials-input,
.form__tel,
.form__mail {
  padding: 17px 0;
  width: 100%;
  font-family: inherit;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid $color-default-black;
  background-color: inherit;

  &:hover {
    border-bottom: 2px solid $color-downy;
  }

  &:active {
    border-bottom: 2px solid $color-downy;
    color: $color-charcoal;
  }

  &:focus {
    outline: none;
  }
}

.form__phone,
.form__email {
  margin-bottom: 35px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    max-width: 700px;
  }
}

.form__icons {
  position: absolute;
  top: 16px;
  right: 0;
  color: $color-default-black;
  opacity: 20%;

  &:hover,
  &:active {
    color: $color-downy;
    opacity: 100%;
  }
}

.form__message {
  padding: 17px;
  width: 100%;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid $color-charcoal;

  &:hover {
    border: 2px solid $color-downy;
  }

  &:active {
    border: 2px solid $color-downy;
    color: $color-charcoal;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 0 $color-downy;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    max-width: 700px;
  }
}

.form__note-wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin: 0 90px;
    justify-content: start;
  }
}

.form__note {
  margin: 0;
  padding-top: 17px;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    font-size: 17px;
    line-height: 30px;
  }
}

.form__button {
  margin-top: 30px;
  background-color: $color-default-white;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 128px;
    margin-right: 140px;
  }
}
