.form {
  @media (min-width: $tablet-width) {
    margin: 0 -50px;
  }
}

.form__point {
  margin: 0;
  padding: 0;
  border: none;
}

.form__point--darken {
  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: 100%;
      background-color: $color-white-smoke;
      z-index: -1;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.form__point-wrapper {
  @media (min-width: $tablet-width) {
    padding: 50px;
    display: grid;
    grid-template-columns: 168px auto;
    align-items: baseline;

    &--color {
      padding-bottom: 0;
    }

    &--initials {
      padding-top: 67px;
    }

    &--tel {
      padding-top: 65px;
      padding-bottom: 12px;
    }

    &--email {
      padding-top: 12px;
    }

    &--additionally {
      padding-bottom: 53px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 50px 97px;
    grid-template-columns: 114px auto;

    &--color {
      padding-bottom: 0;
    }

    &--initials {
      padding-top: 68px;
    }

    &--tel {
      padding-top: 65px;
      padding-bottom: 12px;
    }

    &--email {
      padding-top: 12px;
    }

    &--additionally {
      padding-bottom: 69px;
    }
  }
}

.form__title {
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $color-downy;
  text-transform: uppercase;

  &--additionally {
    margin-bottom: 23px;
  }

  @media (min-width: $tablet-width) {
    max-width: 100px;

    &--additionally {
      margin-bottom: 0;
    }
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &--type {
    padding: 30px 0 31px 0;
  }

  &--color {
    padding: 25px 0 33px 0;
  }

  &--initials {
    padding: 29px 0 35px 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &--color {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0 31px;
      margin-bottom: -7px;
    }
  }

  @media (min-width: $desktop-width) {
    &--color {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.form__item {
  &--type {
    margin-bottom: 24px;
    padding-left: 61px;
  }

  &--color {
    margin-bottom: 23px;
    padding-left: 61px;
  }

  &--initials,
  &--surname,
  &--patronymic {
    margin-bottom: 22px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    &--type {
      margin-bottom: 58px;
    }

    &--color {
      margin-bottom: 57px;
      width: 208px;
    }

    &--name,
    &--surname,
    &--patronymic {
      margin-bottom: 59px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__initials-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.form__initials-input {
  font-family: inherit;

  @media (min-width: $tablet-width) {
    max-width: 573px;

    &--name {
      max-width: 626px;
    }
  }
}

.form__name {
  font-weight: 700;
  line-height: 18px;
  color: $color-default-black;

  @media (min-width: $tablet-width) {
    font-size: 19px;

    &--name {
      margin-right: 24px;
    }

    &--surname {
      margin-right: 25px;
    }

    &--patronymic {
      margin-right: 27px;
    }
  }
}

.form__initials-input,
.form__tel,
.form__mail {
  padding: 17px 0;
  width: 100%;
  font-family: inherit;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid $color-default-black;
  background-color: inherit;
}

.form__phone,
.form__email {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    max-width: 700px;
  }
}

.form__message {
  padding: 17px;
  width: 100%;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid $color-charcoal;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    max-width: 700px;
  }
}

.form__note-wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin: 0 90px;
    justify-content: start;
  }
}

.form__note {
  margin: 0;
  padding-top: 17px;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    font-size: 17px;
    line-height: 30px;
  }
}

.form__button {
  margin-top: 30px;
  background-color: $color-default-white;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 128px;
    margin-right: 140px;
  }
}
