.menu {
  position: relative;

  @media (max-width: $mobile-width-only) {
    align-self: flex-end;

    &--opened {
      margin: 0;
      position: absolute;
      top: 79px;

      &::before {
        position: absolute;
        content: "";
        right: -30px;
        width: 320px;
        height: 324px;
        background-color: $color-default-white;
        z-index: 1;
      }
    }

    &--nojs {
      position: static;
      align-self: center;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.menu__toggle {
  position: absolute;
  top: -53px;
  right: 0;
  width: 21px;
  height: 20px;
  background-color: $color-default-white;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.menu--closed .menu__toggle::before {
  content: "";
  position: absolute;
  background-image: url("../img/control/menu-burger.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 20px;
  height: 14px;
}

.menu--opened .menu__toggle::before {
  content: "";
  position: absolute;
  background-image: url("../img/control/menu-close.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 21px;
  height: 20px;
}

@media (max-width: $mobile-width-only) {
  .menu--closed .menu__item,
  .menu--closed .menu__link {
    display: none;
  }
}

.menu--nojs .menu__toggle {
  display: none;
}

.menu--nojs .menu__item,
.menu--nojs .menu__link {
  display: block;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-right: 250px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    max-width: 490px;
  }
}

.menu__item {
  @media (max-width: $mobile-width-only) {
    z-index: 2;
  }
}

.menu__links {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-left: 110px;
    order: -1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    max-width: 490px;
    order: 0;
  }
}

.menu__link {
  margin: 0 -30px;
  padding: 29px 56px 27px 76px;
  font-weight: 700;
  line-height: 24px;
  color: $color-default-black;
  text-decoration: none;
  display: block;
  border-top: 1px solid $color-whisper;

  @media (max-width: $mobile-width-only) {
    z-index: 2;
  }

  @media (min-width: $tablet-width) {
    margin: 0 1px;
    padding: 22px 0;
    display: block;

    &--list {
      padding-right: 37px;
    }

    &--links {
      padding-left: 31px;
    }
  }

  &--search {
    padding-left: 32px;
  }

  &--basket {
    padding-left: 30px;
  }
}

.menu__link-img-search {
  margin-right: 26px;
}

.menu__link-search {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.menu__link-img-basket {
  margin-right: 25px;
}
