.reviews {
  padding-top: 31px;
  padding-bottom: 51px;

  @media (min-width: $tablet-width) {
    background-color: $color-default-white;
    background-image: url("../img/background/reviews.jpg");
    background-repeat: no-repeat;
    padding-top: 83px;
    padding-bottom: 132px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    left: 50px;
    padding: 78px 50px 186px 174px;
    position: relative;
  }
}

.reviews__title {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.reviews__list {
  margin: 0 0 30px 0;
  padding: 0;
  list-style-type: none;
}

.reviews__item {
  &--slide-2 {
    display: none;
  }

  &--slide-3 {
    display: none;
  }
}

.reviews__text {
  margin: 0 0 33px 0;
  font-size: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }
}

.reviews__author {
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: $color-default-black;
}

.reviews__link {
  font-weight: 400;
  line-height: 30px;
  color: $color-charcoal;
  text-decoration: none;
}

.reviews__switch {
  display: flex;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 69px;
    bottom: 147px;
  }

  @media (min-width: $desktop-width) {
    bottom: 201px;
  }
}

.reviews__switch-button {
  width: 130px;
  height: 52px;
  padding: 13px 42px 13px 38px;
  border: 1px solid $color-whisper;
  background-color: $color-default-white;

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    border: none;
  }

  &--prew {
    background-image: url("../img/control/huge-arrow-left.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    border-right-width: 0.5px;
  }

  &--next {
    background-image: url("../img/control/huge-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    border-left-width: 0.5px;
  }
}

.reviews__button {
  margin-top: 38px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    width: 175px;
    position: absolute;
    top: 93px;
    right: 50px;
  }

  @media (min-width: $desktop-width) {
    top: 79px;
  }
}
