.welcome {
  padding-top: 72px;
  background-color: $color-snow;
  background-image: url("../img/background/house-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% -18px;
  position: relative;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 90px;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/pattern/pattern-tablet.svg");
      background-repeat: repeat-x;
      bottom: -14px;
      left: 0;
      width: 110%;
      height: 24px;
      z-index: 5;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 94px;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/pattern/pattern-desktop.svg");
      background-repeat: repeat-x;
      bottom: -10px;
      left: -4px;
      width: 110%;
      height: 24px;
      z-index: 5;
    }
  }
}

.welcome__title {
  margin: 0 0 120px 0;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: $color-default-black;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 372px 0;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 355px 0;
    font-size: 53px;
    line-height: 57px;
  }
}

.welcome__list {
  margin: 0 -30px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin: 0;
    display: grid;
    grid-template-columns: (1fr 1fr);
  }
}

.welcome__item {
  &--interior {
    position: relative;
    background-color: $color-downy;
  }

  &--toys {
    position: relative;
    background-color: $color-puerto-rico;
  }
}

.welcome__link {
  padding: 24px 160px 31px 30px;
  width: 100%;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: $color-default-white;
  text-decoration: none;
  display: block;

  &:hover {
    transform: translateY(-5px);
    background-color: inherit;
  }

  @media (min-width: $tablet-width) {
    padding: 25px 167px 33px 36px;
    font-size: 20px;
    line-height: 30px;
  }

  &--interior {
    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/icons/interior.svg");
      background-repeat: no-repeat;
      top: 23px;
      right: 36px;
      width: 40px;
      height: 62px;

      @media (min-width: $tablet-width) {
        top: 30px;
      }
    }
  }

  &--toys {
    &::after {
      position: absolute;
      content: "";
      background-image: url("../../img/icons/toy.svg");
      background-repeat: no-repeat;
      top: 21px;
      right: 27px;
      width: 60px;
      height: 60px;

      @media (min-width: $tablet-width) {
        top: 31px;
        right: 33px;
      }
    }
  }
}

.welcome__link-text {
  max-width: 130px;
  display: block;
}
