// Colors
// -----------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;

// Project palette
// для нейминга цветов используется https://www.htmlcsscolor.com/

$color-charcoal: #444444;

// Typography
// -----------------------------------

$ff-open-sans: "Open Sans", "Arial", sans-serif;
